.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Ajusta la altura según tus necesidades */
}

.carousel-button {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel-button:first-child {
    left: 20px;
}

.carousel-button:last-child {
    right: 20px;
}

.carousel-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: opacity 0.5s ease-in-out; /* Define una transición en la opacidad */
}

.titulo-galeria {
    text-align: center;
    margin-bottom: 20px;
    color: #F28B0C;
    
}

.descripcion-imagen {
    color: white;
    text-align: center !important;
    margin-left: 10%;
    margin-right: 10%;
    color: #F2A007;
}