:root {
    --main-orange-color: #F2A007;
    --second-orange-color: #F28B0C;
    --brown-color: #2A100B;
    --purple-color: #3F2773;
    --gray-color: #F2F2F2;
    --white: #FFFFFF;
    --sm: 12px;
    --md: 16px;
    --lg: 18px;
  }

nav {
    overflow: visible;
    display: flex;
    top: 0;
    width: 100%;
    height: 43px;
    justify-content: space-between;
    padding: 0px;
    background-color: var(--brown-color);
    opacity: 0.9;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: var(--sm);
    letter-spacing: 0.2em;
    background: linear-gradient(to right, var(--brown-color), var(--purple-color));
    opacity: 90%;
}

.logo {
    position: relative;
    width: 100px;
    height: 40px;
    margin-top: 4px;
    margin-left:20px;
}

.logo img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.navbar-center {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 9999;
  }

.navbar-center ul li a,
.navbar-right ul li a {
    margin: 50px;
    text-decoration: none; 
    color: var(--white);

}

.navbar-center ul li a:hover,
.navbar-right ul li a:hover {
   color: var(--main-orange-color);
}

.navbar-center ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

 @media (max-width: 640px) {
    .menu {
        display: block;
        width: 20px;
        padding-left: 5px;
    }
  
    .navbar-center ul {
        display: none;
    }

}

