/*align social component to the right*/
.social-media {
    z-index: 1;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: orange;
}

.instagram img {
    margin: 5px;
    height: 35px;
    width: 35px;
    
}
.facebook img {
    margin: 3px;
    height: 35px;
    width: 35px;
    
}
.twitter img {
    margin: 3px;
    height: 35px;
    width: 35px;
    
}

.contenedor-redes{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}