.fotografia {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-small {
    width: 100%; /* asegura que cada imagen se extienda a lo largo de todo el ancho de su celda de grilla */
    height: 100%; /* asegura que cada imagen se extienda a lo largo de toda la altura de su celda de grilla */
    object-fit: cover; /* asegura que las imágenes cubran completamente su celda de grilla sin distorsionarse */
}
