.podcast-container {
    width: 80%;
    margin: 50px auto;
}

.podcast-chapter {
    margin-bottom: 50px;
}

.podcast-container h1 {
    text-align: center;
    color: white;
}

.podcast-chapter h2 {
    margin-top: 30px;
    color: white;
}
